* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Archivo, sans-serif;
  /* background-color: lightgrey; */
}

/* Top menu CSS */
.container {
  display: flex;
  padding: 12px 10px;
  justify-content: center;
  background-color: cyan;
}

.menu {
  /* border: 2px solid rgb(19, 156, 19); */

  padding: 5px 0px;
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.signup {
  margin-left: auto;
}

.login {
  margin-left: 10px;
}

/* Middle CSS */
.center_container {
  /* border: 2px solid green; */

  display: flex;
  justify-content: center;
  background-color: lightgray;
}

.header {
  /* border: 2px solid; */

  display: flex;
  width: 900px;
  height: 500px;
  justify-content: space-between;
  align-items: center;
}

.a,
.c {
  align-self: flex-start;
  margin-top: 10px;
}

/* Photo CSS */
.photo_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.photoGrid {
  /* border: 2px solid rebeccapurple; */

  display: flex;
  width: 900px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.item {
  /* border: 1px solid gray; */

  height: 300px;
  width: 300px;
}

/* Footer */

.footer_container {
  display: flex;
  justify-content: space-between;
}

.footer {
  border: 1px solid white;
  background-color: lightblue;
  height: 50px;
  flex: 1;
}

.foot-2 {
  flex: 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: small;
}

.foot-1, .foot-3 {
  background-color: cyan;
  width: 300px;
  flex: initial;
}

.foot-3 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 3px;
  padding-right: 10px;

  font-size: large;
  font-weight: bold;
}
